/* Change font size for entire body of text*/
	body{
	font-family: Arial;
}
/* Controls the photo of the phone, left body*/
.phone {
	display: inline-block; 
/*Horizontally center images and text*/
	float: left;
/*float the picture to left hand side*/
	padding-right: 30px;
	padding-top: 80px;
	padding-left: 350px;
	width: 20%;
	}
/*Scaling for main image*/
.phone img {
	width: 100%;
}
/*The main fill in details box*/
.mainblock{
	display: inline-block;
	text-align: center;
	border: 1px solid grey;
	margin-top: 50px;
	margin-bottom: 5px;
	width: 23%;
}
/*formats the line spacing for search boxes */
.insert {
	padding: 10px;
	margin: 0 auto;
/**/
	width: 90%;
}
/*Changes border style of search boxes*/
input[type="text"]{
	width: 250px;
	height: 25px;
	border-radius: 5px;
}
/*second box, existing account log in*/
.haveaccount{
	display: inline-block;
	text-align: center;
	border: 1px solid grey;
	margin-top: 5px;
	width: 23%;
}
/*formats the line spacing for */
p span, .friends {
	display: block;
	padding-right: 40px;
	padding-left: 40px;
	}
/*formats the line spacing and colours of facebook and submit buttons*/
.button, .submit {
	 background-color:#41aadb;   /*FaceBook Blue*/
	 display: inline-block;
	 margin: 0 auto;
	 border: none;
	 color: white;
	 padding: 3px;
	 font-size: 13px;
	 width: 70%;
}
/*Text for get app*/
.getapp {
	display: inline-block;
	text-align: center;
	border:none;
	margin:none;
    height: 30px;
    margin-left: 780px;
    padding-bottom: 10px;
}
/*Image apple store*/
.applestore img{
	display: inline-block;
	float: left;
	margin-left: 750px;
}
/*Scaling for apple store image*/
.applestore img {
	width: 5%;
}
/*Image gogle play store*/
.googleplay img{
	display: inline-block;
	margin-left: 10px;
}
/*Scaling for google play store*/
.googleplay img {
	width: 5%;
}
/*footer contains other links to pages*/
.footer p {
	font-size: 12px;
	text-align: center;
}
