body{
	font-family: Arial;
}

.block1{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid grey;
	margin-top: 50px;
	margin-bottom: 5px;
}

.block2{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid grey;
	margin-top: 5px;
}

.block3 img{
	display: inline-block;
	margin-top: 5px;
	width: 150px;
	height: 50px;

}

.account{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 70px;
	padding-right: 70px;
}

.phone {
	display: inline-block;
	float: left;
	padding-right: 30px;
	padding-top: 50px;
	padding-left: 350px;
	}

p span, .friends {
	display: block;
	padding-right: 40px;
	padding-left: 40px;
	}

.button, .submit {
	 background-color:#41aadb;   /*FaceBook Blue*/
	 border: none;
	 color: white;
	 padding: 3px;
	 font-size: 13px;
}

.insert {
	padding: 10px;
}

input[type="text"]{
	width: 200px;
	height: 20px;
	border-radius: 5px;
}

.getapp {
	padding-right: 115px;
	padding-left: 115px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border:none;
	margin-top: 5px;
}



