/* Change font size for entire body of text*/
	body{
	font-family: Arial;
}

/* Controls the photo of the phone, left body*/
.phone {
	display: inline-block;
	float: left;
	padding-right: 30px;
	padding-top: 80px;
	padding-left: 350px;
	width: 20%;
	}

/*Scaling*/
.phone img {
	width: 100%;
}

/*The main fill in details box*/
.mainblock{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid grey;
	margin-top: 50px;
	margin-bottom: 5px;
	width: 25%;
}

/*second box, have an account log in*/
.haveaccount{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid grey;
	margin-top: 5px;
	width: 25%;
}

/*formats the line spacing for */
p span, .friends {
	display: block;
	padding-right: 40px;
	padding-left: 40px;
	}

.button, .submit {
	 background-color:#41aadb;   /*FaceBook Blue*/
	 border: none;
	 color: white;
	 padding: 3px;
	 font-size: 13px;
}

.insert {
	padding: 10px;
}

input[type="text"]{
	width: 200px;
	height: 20px;
	border-radius: 5px;
}

.getapp {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	border:none;
	margin:none;
	width:118%;
}

.appstores img{
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	padding-right: 5px;
	padding-left: 10px;
	margin-bottom: 10px;
	width: 10%;
}

.footer p {
	font-size: 12px;
	text-align: center;
}
